body { 
    background-color: white;
    width: 100vw;
    height: 100vh;
}
h1 {
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    display: inline-block;
    font-size: 48px;
}
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

section h2 {
    font-family: Arial, Helvetica, sans-serif;

}
section ul li {
    display:grid;
    margin-left: 25px;
}
div img {
    height:500px;
    width:100%;
    object-fit:scale-down;
    border: 10px;
}

.footer {
        padding: 30px;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        font-size: 20px;
    }