body { 
    background-color: darkgray;
}
h1 {
    padding: 20px;
    font-family:'Courier New', Courier, monospace;
    background-color: #2a607c;
    color: #ffffff;
    display: inline-block;
    font-size: 48px;
}
div.AI {
        margin-bottom: 25px;
    }
    
div.AI img {
        height:500px;
        width: 100%;
        object-fit: cover ;
    }